In [10]:
import calendar
import datetime
import pandas as pd

In [2]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [91]:
options = {
    'start_date' : datetime.date(2018,5,1),
    'end_date' : datetime.date(2018,6,2)
}

In [4]:
def nearest_past_Monday(initial_date):
# find the date of the nearet present or past Monday
    print('Initial date:', initial_date, weekdays[initial_date.weekday()])
    for i in range(7):
        # iterate 0 to 6
        previous = initial_date - datetime.timedelta(days=i)
        day = weekdays[previous.weekday()]
        print(previous, day)
        if day == 'Monday':
            return previous
        
    assert(False), "Something wrong. Iterated back 7 days and didn't find a Monday."
            
if 1:
    print(nearest_past_Monday( datetime.date(2018,5,8)))
    print(nearest_past_Monday( datetime.date(2018,5,7)))
    print(nearest_past_Monday( datetime.date(2018,5,6)))

Initial date: 2018-05-08 Tuesday
2018-05-08 Tuesday
2018-05-07 Monday
2018-05-07
Initial date: 2018-05-07 Monday
2018-05-07 Monday
2018-05-07
Initial date: 2018-05-06 Sunday
2018-05-06 Sunday
2018-05-05 Saturday
2018-05-04 Friday
2018-05-03 Thursday
2018-05-02 Wednesday
2018-05-01 Tuesday
2018-04-30 Monday
2018-04-30

In [5]:
def nearest_future_Sunday(initial_date):
# find the date of the nearet present or future Sunday
    print('Initial date:', initial_date, weekdays[initial_date.weekday()])
    for i in range(7):
        # iterate 0 to 6
        next = initial_date + datetime.timedelta(days=i)
        day = weekdays[next.weekday()]
        print(next, day)
        if day == 'Sunday':
            return next
        
    assert(False), "Something wrong. Iterated back 7 days and didn't find a Monday."
            
if 1:
    print(nearest_future_Sunday( datetime.date(2018,5,5)))
    print(nearest_future_Sunday( datetime.date(2018,5,6)))
    print(nearest_future_Sunday( datetime.date(2018,5,7)))

Initial date: 2018-05-05 Saturday
2018-05-05 Saturday
2018-05-06 Sunday
2018-05-06
Initial date: 2018-05-06 Sunday
2018-05-06 Sunday
2018-05-06
Initial date: 2018-05-07 Monday
2018-05-07 Monday
2018-05-08 Tuesday
2018-05-09 Wednesday
2018-05-10 Thursday
2018-05-11 Friday
2018-05-12 Saturday
2018-05-13 Sunday
2018-05-13

In [8]:
def get_calendar_boundaries(start_date, end_date):
    # return the date of the nearest previous Monday and the date of the nearest next Sunday in a tuple

    assert(start_date<=end_date), "Start day must be earlier or the same as end date"

    diary_first_date = nearest_past_Monday(start_date)
    diary_last_date = nearest_future_Sunday(end_date)

    # check it's at least 1 week
    assert( (diary_last_date - diary_first_date).days >= 6 )

    # check it's exactly an integer multiple of 7
    assert( ((diary_last_date - diary_first_date).days+1)//7 - ((diary_last_date - diary_first_date).days+1)/7 == 0 ), "It's not whole weeks"

    # check that the first day is Monday
    assert( diary_first_date.weekday()==0 ), "First date must be Monday"
    # check that the last day is Sunday
    assert( diary_last_date.weekday()==6 ), "Last date must be Sunday"
    
    return (diary_first_date, diary_last_date)

if 1:
    print( get_calendar_boundaries(options['start_date'], options['end_date'] ))

Initial date: 2018-05-01 Tuesday
2018-05-01 Tuesday
2018-04-30 Monday
Initial date: 2018-05-14 Monday
2018-05-14 Monday
2018-05-15 Tuesday
2018-05-16 Wednesday
2018-05-17 Thursday
2018-05-18 Friday
2018-05-19 Saturday
2018-05-20 Sunday
(datetime.date(2018, 4, 30), datetime.date(2018, 5, 20))

In [92]:
# iterate through days of the diary
(first_date, last_date) = get_calendar_boundaries(options['start_date'], options['end_date'] )
print(first_date, last_date)

df_diary = pd.DataFrame()

print("Days of the diary:")
day = first_date
week_index = 0
i = 0
while day<=last_date:
    df_diary = df_diary.append({'week_index': int(week_index), 'date': day, 'weekday': weekdays[day.weekday()]}, ignore_index=True)
    
    print(week_index, day, weekdays[day.weekday()] )
    day += datetime.timedelta(days=1)
    
    i += 1
    if i % 7 ==0:
        week_index += 1
    
df_diary['week_index'] = df_diary['week_index'].astype(int)
df_diary['week_number'] =  df_diary['date'].apply(lambda x: x.isocalendar()[1])
df_diary['month_number'] =  df_diary['date'].apply(lambda x: x.month)
df_diary['month_name'] = df_diary['date'].apply(lambda x: x.strftime("%B"))

Initial date: 2018-05-01 Tuesday
2018-05-01 Tuesday
2018-04-30 Monday
Initial date: 2018-06-02 Saturday
2018-06-02 Saturday
2018-06-03 Sunday
2018-04-30 2018-06-03
Days of the diary:
0 2018-04-30 Monday
0 2018-05-01 Tuesday
0 2018-05-02 Wednesday
0 2018-05-03 Thursday
0 2018-05-04 Friday
0 2018-05-05 Saturday
0 2018-05-06 Sunday
1 2018-05-07 Monday
1 2018-05-08 Tuesday
1 2018-05-09 Wednesday
1 2018-05-10 Thursday
1 2018-05-11 Friday
1 2018-05-12 Saturday
1 2018-05-13 Sunday
2 2018-05-14 Monday
2 2018-05-15 Tuesday
2 2018-05-16 Wednesday
2 2018-05-17 Thursday
2 2018-05-18 Friday
2 2018-05-19 Saturday
2 2018-05-20 Sunday
3 2018-05-21 Monday
3 2018-05-22 Tuesday
3 2018-05-23 Wednesday
3 2018-05-24 Thursday
3 2018-05-25 Friday
3 2018-05-26 Saturday
3 2018-05-27 Sunday
4 2018-05-28 Monday
4 2018-05-29 Tuesday
4 2018-05-30 Wednesday
4 2018-05-31 Thursday
4 2018-06-01 Friday
4 2018-06-02 Saturday
4 2018-06-03 Sunday

In [102]:
df_diary

          date  week_index    weekday  week_number  month_number month_name
0   2018-04-30           0     Monday           18             4      April
1   2018-05-01           0    Tuesday           18             5        May
2   2018-05-02           0  Wednesday           18             5        May
3   2018-05-03           0   Thursday           18             5        May
4   2018-05-04           0     Friday           18             5        May
5   2018-05-05           0   Saturday           18             5        May
6   2018-05-06           0     Sunday           18             5        May
7   2018-05-07           1     Monday           19             5        May
8   2018-05-08           1    Tuesday           19             5        May
9   2018-05-09           1  Wednesday           19             5        May
10  2018-05-10           1   Thursday           19             5        May
11  2018-05-11           1     Friday           19             5        May
12  2018-05-12           1   Saturday           19             5        May
13  2018-05-13           1     Sunday           19             5        May
14  2018-05-14           2     Monday           20             5        May
15  2018-05-15           2    Tuesday           20             5        May
16  2018-05-16           2  Wednesday           20             5        May
17  2018-05-17           2   Thursday           20             5        May
18  2018-05-18           2     Friday           20             5        May
19  2018-05-19           2   Saturday           20             5        May
20  2018-05-20           2     Sunday           20             5        May
21  2018-05-21           3     Monday           21             5        May
22  2018-05-22           3    Tuesday           21             5        May
23  2018-05-23           3  Wednesday           21             5        May
24  2018-05-24           3   Thursday           21             5        May
25  2018-05-25           3     Friday           21             5        May
26  2018-05-26           3   Saturday           21             5        May
27  2018-05-27           3     Sunday           21             5        May
28  2018-05-28           4     Monday           22             5        May
29  2018-05-29           4    Tuesday           22             5        May
30  2018-05-30           4  Wednesday           22             5        May
31  2018-05-31           4   Thursday           22             5        May
32  2018-06-01           4     Friday           22             6       June
33  2018-06-02           4   Saturday           22             6       June
34  2018-06-03           4     Sunday           22             6       June

In [96]:
grouped_weeks = df_diary.groupby(by='week_index')

In [101]:
grouped_weeks.groups

{0: Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64'),
 1: Int64Index([7, 8, 9, 10, 11, 12, 13], dtype='int64'),
 2: Int64Index([14, 15, 16, 17, 18, 19, 20], dtype='int64'),
 3: Int64Index([21, 22, 23, 24, 25, 26, 27], dtype='int64'),
 4: Int64Index([28, 29, 30, 31, 32, 33, 34], dtype='int64')}